.action-btn {
    
    background-color: #13aa52;
    color:white;
    
    font-size: 16px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    
    /* margin-left:0.5rem; */
    width:fit-content;
    height:30px;
    padding:5px;
    margin:0px 3px 0px 3px; 
 
}
  .action-btn:hover,
.action-btn:focus {
    background-color:white;
    border-style:solid;
    border-width:3px;
    border-color:#13aa52;
    outline: none;
    color:#13aa52;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    

}  
.sub_nav_div{
    width:100%;
    position:absolute;
    height: fit-content;
    display:flex;
    flex-direction:row;
    left:0px;
   
}
 @media(max-width: 900px){


} 
    